div {
  display: inline-block;
  transition: top 0.04s, left 0.04s;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: rgb(74, 149, 124);
  border-radius: 999px;
  position: absolute;
  top: 0;
  left: 0;
}

.box {
  /*display: inline-block;*/
  position: relative;
  width: 200px;
  height: 300px;
  top: 0;
  background-color: rgb(233, 126, 37);
  /*transition: width 5s;*/
}

.move {
  top: 400px;
}

.sth {
  /*display: inline-block;*/
  width: 10px;
  height: 10px;
  background-color: red;
}

.expanded {
  width: 100%;
  background-color: black;
  height: 300px;
}
